- title "About Us"
%h1#about About
%section
  %p
    Hamrochitwan.com is FREE online portal(targeted for chitwan) which enables individuals as well as business houses to promote their market presence as well as showcase and sell wide variety of new or used products online. Apart from business related information, we also provide all round information about chiwan.

%h1#terms_of_use Terms of Use
%section
  %p
    Hamrochitwan.com do not guarantee the accuracy and disclaim liability for inaccuracies related to product and service information. Much of the information on product and service is provided by the respective suppliers and information provided is intended as only general guidelines. Hamrochitwan.com and its affiliates do not hold responsible of inaccuracies contained. Hamrochitwan.com attempt to be as accurate as possible in terms of product descriptions or other content of this site but do not hold guarantee that it is completely reliable and error-free. The suppliers providing product and services are independent contractors and not the employees of Hamrochitwan.com or its affiliates. As a condition of your use of this Web site, you warrant that you will not use this Web site for any purpose that is unlawful or prohibited by Government of Nepal. Our website may contain hyperlinks to Web sites operated by parties other than Hamrochitwan.com or its affiliates. Such hyperlinks are provided for your reference and we do not control such Web sites and we are not responsible for their contents or your use of them.
  %p
    Protecting privacy is important to us but due to the nature of our business, some functions and services offered through our site require that suppliers provide certain personal information such as email address, postal, phone numbers etc for communication purpose and the information collected by Hamrochitwan.com and its affiliates are the only information provided to us voluntarily.

%h1#buyer_protection Buyer Protection
%section
  %p
    We are dedicated to provide highest level of protection to our buyers. You are advised to follow these guidelines to ensure you are dealing with genuine sellers.
  %ul
    %li
      Always compare with your local market price and specification of any products you decide to buy.
    %li
      If the products are USED; always ask seller to upload photos, or email you the real images of the products.
    %li
      Comment on sellers and their products, it helps others to stay updated with the seller you deal with.
    %li
      Rather than private communication, make sure most of your dealings are made on public.
    %li
      If you have any complains about the products, sellers or content of our website, visit
      =link_to "Contact", new_contact_path
      page and select complain message type and send us your complain.